In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [2]:
# 기본 데이터베이스에 해당하는 파일 디렉토리(모델 넣기)
!mkdir datafile

In [3]:
file_path = './datafile/' # 데이터베이스 path

In [4]:
# static 디렉토리 생성
!mkdir static

- datafile 에 학습모델, 분류파일 넣기

In [5]:
# 임포트
import numpy as np
import pandas as pd

# 모델 =====
- 모델 불러오기

In [ ]:
# 모델 임포트

In [ ]:
# 모델 로드

# 이미지 모듈 =====

In [ ]:
# 추가 모듈 임포트
import json
from PIL import Image

In [ ]:
img_path = './image/'

# 이미지 Predict =====

In [ ]:
# 추출된 인덱스 값 1
# 인덱스의 라벨 값 2

# 데이터 =====
- 영양정보 DB 가져오기

In [7]:
DATA = pd.read_excel('/content/drive/MyDrive/영양4조/dataset/음식 이미지 및 영양정보 텍스트/nutritionDB/음식분류 AI 데이터 영양DB.xlsx', index_col='음 식 명')
DATA

,중량(g),에너지(kcal),탄수화물(g),당류(g),지방(g),단백질(g),칼슘(mg),인(mg),나트륨(mg),칼륨(mg),마그네슘(mg),철(mg),아연(mg),콜레스테롤(mg),트랜스지방(g)
음 식 명,,,,,,,,,,,,,,,
쌀밥,210.0,334.8000,73.71000,0.000000,0.45000,5.76000,3.6,126,59.40000,146.7,-,0.36,1.35,0.000,0
기타잡곡밥,200.0,302.3620,65.52110,0.000000,0.74620,6.70920,12.06,117.836,3.39200,166.718,6.9,1.7447,1.8264,0.000,0
콩밥,200.0,322.9000,65.84600,0.000000,1.66600,8.42800,24.7,126.9,4.10000,258.4,22.5,1.74,1.61,0.000,0
보리밥,200.0,316.1000,70.57000,0.000000,0.14000,5.55000,6.7,68.8,4.50000,100.6,0,1.26,1.41,0.000,0
돌솥밥,350.0,528.8550,101.85000,0.000000,8.34700,10.18700,61.455,193.72,618.31500,624.32,57.785,3.321,2.582,2.365,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
다식,30.0,105.1665,20.81070,6.455700,1.72860,3.54630,1.4274,100.0665,3.84900,206.7144,-,0.5175,0.0411,0.000,0
약과,30.0,113.8494,22.18320,2.151900,1.23870,2.57400,4.449,28.23,16.45980,59.4219,-,0.5661,0.1431,0.000,0
유과,30.0,129.0600,24.13650,1.120950,3.50400,0.36090,1.2084,3.6,7.05540,0.0285,-,0.24,0.1968,0.000,0
산자,30.0,121.6985,24.70195,10.632825,1.19665,0.91035,2.00165,20.36125,8.01255,60.9266,-,0.4053,0.27195,0.000,0
깨강정,30.0,150.3000,13.62000,0.000000,9.87000,4.50000,156,125.7,24.30000,67.5,0,1.38,2.13,0.000,0

# 영양성분정보 추출 함수 =====

In [8]:
# 음식명별 영양성분 정보
Nutrition = {'중량': ['중량(g)'],
             '성분': ['에너지(kcal)','탄수화물(g)','당류(g)','지방(g)','단백질(g)','칼슘(mg)','인(mg)','나트륨(mg)','칼륨(mg)','마그네슘(mg)','철(mg)','아연(mg)','콜레스테롤(mg)','트랜스지방(g)']
             }

In [9]:
names = ['곤드레밥', '라면']

In [ ]:
names = ['곤드레밥', 'fkaus']

In [ ]:
names = ['ㅇㅇ', 'fkaus']

In [10]:
# predict된 음식명에 따라 영양성분 출력 함수 정의
def nutrition_info(names):
    # 예측된 음식명 담기
    food_name = []
    # 없는 음식명 담기
    food_name_x = []
    # 예측된 음식의 영양성분 담기
    food_info = {}
    # 예측된 음식명들중에 하나씩 반복해서 이름은 음식명에 담고, 영양정보는 영양성분에 담기
    for name in names:
        if name in DATA.index:
            food_name.append(name)
            food_info[name] = dict(DATA.loc[name][Nutrition['성분']])
        # 음식명이 없으면 없는 음식명에 담고 없는 정보를 출력할 준비 함
        else:
            food_name_x.append(name)
            a = '없는 정보 :', food_name_x
    # 결과1: 없는음식명이 없다면 예측된 음식명 리스트와 그에대한 영양성분 정보 출력
    if food_name_x == []:
        return food_name, food_info
    # 결과2: 음식명이 없으면 없는음식명 정보를 출력
    elif food_name == []:
        return  print(a)
    # 결과3: 음식명이 있고, 없는것도 있으면 없는 음식명정보도 출력하고 예측된 음식명 리스트와 영양성분정보 출력
    else:
        print(a)
        return food_name, food_info

In [11]:
nutrition_info(names)

(['곤드레밥', '라면'],
 {'곤드레밥': {'나트륨(mg)': 88.753,
   '단백질(g)': 14.14,
   '당류(g)': 0.0,
   '마그네슘(mg)': 22.400000000000002,
   '아연(mg)': 1.7779999999999998,
   '에너지(kcal)': 506.8,
   '인(mg)': 95.47999999999999,
   '지방(g)': 8.372,
   '철(mg)': 1.8760000000000001,
   '칼륨(mg)': 815.9235000000001,
   '칼슘(mg)': 30.324,
   '콜레스테롤(mg)': 0.0,
   '탄수화물(g)': 108.05199999999999,
   '트랜스지방(g)': 0},
  '라면': {'나트륨(mg)': 1695.5009999999997,
   '단백질(g)': 14.077000000000002,
   '당류(g)': 0.0,
   '마그네슘(mg)': 0.97,
   '아연(mg)': 1.1909999999999998,
   '에너지(kcal)': 509.32800000000003,
   '인(mg)': 145.281,
   '지방(g)': 17.748,
   '철(mg)': 1.226,
   '칼륨(mg)': 374.069,
   '칼슘(mg)': 32.993,
   '콜레스테롤(mg)': 2.344,
   '탄수화물(g)': 83.16800000000002,
   '트랜스지방(g)': 0}})

In [14]:
# 음식별 영양성분 더하기
def nutri_add(names):
    # 전체음식의 영양성분을 한번에 담을 변수 생성 Nutri
    Nutri = {'에너지(kcal)': 0, '콜레스테롤(mg)': 0, '트랜스지방(g)': 0, '탄수화물(g)': 0, '당류(g)': 0, '지방(g)': 0,
    '단백질(g)': 0, '칼슘(mg)': 0, '인(mg)': 0, '나트륨(mg)': 0, '칼륨(mg)': 0, '마그네슘(mg)': 0, '철(mg)': 0, '아연(mg)': 0}
    # 추출된 전체 음식의 성분별로 영양성분 더하여 dict에 저장
    for name in names[0]:
        for k in Nutrition['성분']:
            Nutri[k] += names[1][name][k]
    return Nutri

In [17]:
result = nutri_add(nutrition_info(names))
result

{'나트륨(mg)': 1784.2539999999997,
 '단백질(g)': 28.217000000000002,
 '당류(g)': 0.0,
 '마그네슘(mg)': 23.37,
 '아연(mg)': 2.9689999999999994,
 '에너지(kcal)': 1016.128,
 '인(mg)': 240.761,
 '지방(g)': 26.12,
 '철(mg)': 3.1020000000000003,
 '칼륨(mg)': 1189.9925,
 '칼슘(mg)': 63.31700000000001,
 '콜레스테롤(mg)': 2.344,
 '탄수화물(g)': 191.22000000000003,
 '트랜스지방(g)': 0}

In [18]:
result['나트륨(mg)']

1784.2539999999997

# 가공정보 추출 함수 =====

In [19]:
DATA2 = pd.read_excel('/content/drive/MyDrive/영양4조/[최종]영양권장량.xlsx')
DATA2

/usr/local/lib/python3.7/dist-packages/openpyxl/worksheet/_reader.py:312: UserWarning: Unknown extension is not supported and will be removed
  warn(msg)

    성별     연령       영양성분 권장(g/일) 상한(g/일)
0   남자  19-29  탄수화물(g/일)     130       -
1   남자  30-49  탄수화물(g/일)     130       -
2   남자  50-64  탄수화물(g/일)     130       -
3   여자  19-29  탄수화물(g/일)     130       -
4   여자  30-49  탄수화물(g/일)     130       -
..  ..    ...        ...     ...     ...
61  남자  30-49   아연(mg/일)      10      35
62  남자  50-64   아연(mg/일)      10      35
63  여자  19-29   아연(mg/일)       8      35
64  여자  30-49   아연(mg/일)       8      35
65  여자  50-64   아연(mg/일)       8      35

[66 rows x 5 columns]

In [20]:
DATA2[(DATA2['성별'] =='남자') & (DATA2['연령']=='19-29') & (DATA2['영양성분']=='탄수화물(g/일)')]

   성별     연령       영양성분 권장(g/일) 상한(g/일)
0  남자  19-29  탄수화물(g/일)     130       -

# 권장섭취량 판별 함수 =====

In [ ]:
# 권장섭취량 DB
DATA2 = pd.read_excel(file_path+'=====.xlsx', index_col='=====')

In [ ]:
# 추출된 값이 권장섭취량 이상인 경우 경고하는 함수 정의
def warning(name):
    warn_ment = str('경고')
    # a
    try:
        a
        result
    except:
        pass  

    # 예측값에서 가져온 영양성분(총합)이 권장섭취량보다 높은지 확인
    if a >= db:
      return result
    else:
      return result

# FASTAPI 연결 =====

In [ ]:
!pip install fastapi nest-asyncio pyngrok uvicorn aiofiles python-multipart

In [ ]:
# 모듈 임포트
from fastapi import FastAPI, Request, Form, File, UploadFile
from fastapi.responses import HTMLResponse
from fastapi.staticfiles import StaticFiles
from fastapi.templating import Jinja2Templates
import nest_asyncio
from pyngrok import ngrok

import uvicorn

In [ ]:
# API 화면 출력용 html 작성

In [ ]:
# 템플릿 디렉토리 생성
!mkdir templates

- templates 디렉토리에 index.html / result.html 파일 넣기
- static 디렉토리에 style.css 파일 넣기

# API 실행

In [ ]:
# FastAPI
from fastapi.staticfiles import StaticFiles

app=FastAPI()
templates = Jinja2Templates(directory="templates")
app.mount('/static', StaticFiles(directory='static'), name='static')

@app.get('/', response_class=HTMLResponse)
async def read_page(request: Request):
  return templates.TemplateResponse("index.html", {"request": request})

@app.post('/topic', response_class=HTMLResponse)
async def get_page(request: Request, img: UploadFile = File(...), lng: str = Form(...)):
  return templates.TemplateResponse("result.html", {"request": request})

In [ ]:
#ngrok authtoken
!ngrok authtoken =====

In [ ]:
ngrok_tunnel = ngrok.connect(8000)
print ('Public URL:', ngrok_tunnel.public_url) 
nest_asyncio.apply()
uvicorn.run(app, host='0.0.0.0', port=8000)